body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #444;
    padding: 10px;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Organiza las cajas en una cuadrícula adaptable */
    grid-gap: 20px; /* Añade espacio entre las cajas */
    padding: 20px;
}

.box,
.cromo {
    background-color: #f0f0f0;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.album .box img,
.cromo img {
    width: 100%;
    height: auto;
    max-height: 150px; /* Establece una altura máxima para todas las imágenes */
    object-fit: cover;
    border-radius: 8px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(150px, auto);
    gap: 3px; /* Añadida separación mínima entre las imágenes */
    padding: 20px;
}

.gallery-item {
    width: 80%;
    height: 80%;
    object-fit: cover;
    opacity: 0.8;
    transition: transform 0.5s ease, opacity 0.5s ease;
    border-radius: 5px;
}

.gallery-item:hover {
    cursor: crosshair;
    transform: scale(1.1);
    opacity: 1;
    filter: contrast(120%);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 480px) {
    /* Ajusta el diseño para pantallas aún más pequeñas */
    .box,
    .cromo {
        width: 100%;
    }
}

